/* static/css/styles.css */
body {
  overflow: hidden;
}

#word {
  position: absolute;
  top: 50%;
  left: 0;
  white-space: nowrap;
  transform: translateY(-50%);
  font-size: 24px;
  transition: left 1s linear;
}

.correct {
  color: green;
}
